// alert
.alert {
  margin: 20px 20px;
  padding: 20px;
  font-weight: 300;
  line-height: 22px;
  box-shadow:  -2px 0 2px $noir;

  &--info {
    background-color: $bleu;
    border-left: 4px solid $bleu-fonce;
    &::before {
      content: ("Information : ");
      font-weight: 700;
      text-decoration: underline;
      padding-right: 25px;
    }
  }

  &--success {
    background-color: $vert;
    border-left: 4px solid $vert-fonce;
    &::before {
      content: ("Remarque :");
      font-weight: 700;
      text-decoration: underline;
      padding-right: 25px;
    }
  }
}
