// couleurs
$rose: pink;
$rouge: salmon;
$rouge-fonce: darken($rouge, 40%);
$vert: lightgreen;
$vert-fonce: darken($vert, 50%);
$bleu: skyblue;
$bleu-fonce: darken($bleu, 50%);
$jaune: rgb(248, 230, 128);
$noir: black;
$noir-clair: lighten($noir, 10%);
$blanc: antiquewhite;
