@import 'partials/variables';
@import 'partials/mixin';
@import 'partials/alert';
@import 'partials/btn';

body {
  max-height: 100vh;
  background-color: $noir;
  @include padding($padding-top: 60px);

  header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 20px;
    line-height: 20px;
    background-color: $noir-clair;
    color: $blanc;
    text-align: center;
  }

  main {
    background-color: $rouge-fonce;
    @include padding;

    section {

      background-color: $rouge;
      @include padding;

      article {
        margin: 20px 0;
        h2 {color: $noir;}

        .container {
          min-height: 100px;
          border: 1px solid $noir;
          background-color: $rose;
          .rectangle {
            min-width: 150px;
            min-height: 50px;
            border: none;
            background-color: $noir;
            color: $blanc;
            display: inline-block;
            line-height: 50px;
            text-align: center;
          }
        }

        &:nth-child(2) {
          background-color: $jaune;
          @include padding;
          .rectangle-1 { position: absolute; }
        }
        &:nth-child(3) {
          background-color: $jaune;
          @include padding;
          position: relative;
          .rectangle-2 {
            &:nth-child(2) { position:absolute; top: -30px; right: 100px}
            &:nth-child(3) { position:absolute; bottom: -15px; left: -10px;}
            &:nth-child(4) { position:absolute; right: 12px;}
          }
        }
        &:nth-child(4) {
          background-color: $bleu;
          @include padding;
          .alert-info {
            background-color: $bleu-fonce;
            color: $blanc;
            border-left: 4px $blanc solid;
          }
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100vw;
    min-height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: $noir-clair;
    color: $blanc;
  }
}

p {
  max-width: 60%;
  margin: auto;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 1.7px;
  word-spacing: 1.6px;
}

h2 {
  color: $blanc;
}
