.alert {
  margin: 20px 20px;
  padding: 20px;
  font-weight: 300;
  line-height: 22px;
  -webkit-box-shadow: -2px 0 2px black;
          box-shadow: -2px 0 2px black;
}

.alert--info {
  background-color: skyblue;
  border-left: 4px solid #104b63;
}

.alert--info::before {
  content: "Information : ";
  font-weight: 700;
  text-decoration: underline;
  padding-right: 25px;
}

.alert--success {
  background-color: lightgreen;
  border-left: 4px solid #116e11;
}

.alert--success::before {
  content: "Remarque :";
  font-weight: 700;
  text-decoration: underline;
  padding-right: 25px;
}

.btn {
  margin: auto;
  cursor: pointer;
}

body {
  max-height: 100vh;
  background-color: black;
  padding: 60px 20px 20px 20px;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 20px;
  line-height: 20px;
  background-color: #1a1a1a;
  color: antiquewhite;
  text-align: center;
}

body main {
  background-color: #9b1505;
  padding: 1px 20px 20px 20px;
}

body main section {
  background-color: salmon;
  padding: 1px 20px 20px 20px;
}

body main section article {
  margin: 20px 0;
}

body main section article h2 {
  color: black;
}

body main section article .container {
  min-height: 100px;
  border: 1px solid black;
  background-color: pink;
}

body main section article .container .rectangle {
  min-width: 150px;
  min-height: 50px;
  border: none;
  background-color: black;
  color: antiquewhite;
  display: inline-block;
  line-height: 50px;
  text-align: center;
}

body main section article:nth-child(2) {
  background-color: #f8e680;
  padding: 1px 20px 20px 20px;
}

body main section article:nth-child(2) .rectangle-1 {
  position: absolute;
}

body main section article:nth-child(3) {
  background-color: #f8e680;
  padding: 1px 20px 20px 20px;
  position: relative;
}

body main section article:nth-child(3) .rectangle-2:nth-child(2) {
  position: absolute;
  top: -30px;
  right: 100px;
}

body main section article:nth-child(3) .rectangle-2:nth-child(3) {
  position: absolute;
  bottom: -15px;
  left: -10px;
}

body main section article:nth-child(3) .rectangle-2:nth-child(4) {
  position: absolute;
  right: 12px;
}

body main section article:nth-child(4) {
  background-color: skyblue;
  padding: 1px 20px 20px 20px;
}

body main section article:nth-child(4) .alert-info {
  background-color: #104b63;
  color: antiquewhite;
  border-left: 4px antiquewhite solid;
}

body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1a1a1a;
  color: antiquewhite;
}

p {
  max-width: 60%;
  margin: auto;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 1.7px;
  word-spacing: 1.6px;
}

h2 {
  color: antiquewhite;
}
/*# sourceMappingURL=style.css.map */